<div class="span10">
    <ul class="breadcrumb">
        <li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
        <li class="active">Các sản phẩm của {{CatName}}</li>
    </ul>
    <h3></h3>
    <hr class="soft" />
    <form class="form-horizontal span6">
        <div class="control-group">
            <label class="control-label alignL">Sắp xếp theo </label>
            <select name="" id="">
                <option value="">Tên sản phẩm A-Z</option>
                <option value="">Tên sản phẩm Z-A</option>
            </select>
        </div>
    </form>
    <br class="clr" />
    <div class="tab-content">
        <div class="tab-pane active">
            {{body}}
        </div>
    </div>
</div>