div.blank{
	height: 35px;
}

div.nar-bar {
    height: 80px;
    background-color: #3A3F44;
}


a.logo {
    display: inline-block;
    float: left;
    width: 200px;
    height: 54px;
    background-image: url('../image/logo.png');
    padding:10px 20px 10px;
    margin-left: 20px;
    margin-top: 14px;
}
.container .nar-bar div.form-search {
	margin-top: 24px;
    float: left;
    margin-left: 25px;
}

.container .nar-bar .search-form {
    width: 500px;
    float: left;
}

.container .nar-bar div.dropdown {
	line-height: 80px;
	position: relative;
    float: left;
    margin-left: 40px;
}

.container .nar-bar .dropdown button.header-dropdown {
    background-color: #4CAF50;
    color: #fff;
    border-color: #4CAF50;
}

.container .nar-bar div.cart{
	line-height: 80px;
	position: relative;
	float: left;
	margin-left: 25px;
}